<form action="/add_hours" method="post">
    <p>
        <label>Username</label><br>
        <input type="text" name="username">
    </p>
    <p>
        <label>Date</label><br>
        <input type="date" name="date">
    </p>
    <p>
        <label>First Hour</label><br>
        <input type="number" name="first_hour" min="0" max="23" step="1" required>
    </p>
    <p>
        <label>Last Hour</label><br>
        <input type="number" name="last_hour" min="0" max="23" step="1" required>
    </p>
    <p>
        <label>Activity</label><br>
        <input type="text" name="activity">
    </p>
    <p>
        <button>Add</button>
    </p>
</form>