{% extends "bootstrap/base.html" %}
{% block title %}Welcome{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ nav.navbar.render() }}
{% endblock %}

{% block scripts %}
{{super()}}
<!--
<script src="static/js/material.min.js"></script>
<script src="static/js/ripples.js"></script>
<script src="static/js/scripty.js"></script>
-->
{% endblock %}

<!--
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href = "static/css/bootstrap.min.css" />

</head>
<body>
        <div class = "navbar navbar-info navbar-fixed-top">
            <div class = "navbar-header">
                <a class = "navbar-brand">Activity Tracker</a>
            </div>

            <ul class = "nav navbar-nav">
                <li><a class = "waves-effect" href = "/">Home Feed<div class = "ripple-container waves-effect"></div></a></li>
                <li><a href = "/discover">Track My Data<div class = "ripple-container waves-effect"></div></a></li>
                <li><a href = "/profile">Profile<div class = "ripple-container waves-effect"></div></a></li>
            </ul>

            <div class = "pull-right">
                $if session['user'] == None:
                    <a href = "/login" class = "btn btn-link waves-effect">Login</a>&nbsp;
                    <a href = "/register" class = "btn btn-raised btn-default waves-effect">Register</a>&nbsp; &nbsp;
                $else:
                    <a id="logout-link" class="btn btn-raised btn-default waves-effect">Logout</a>
            </div>
        </div>
        <br /><br /><br />

        {{ body }}

        <script src="static/js/jquery-3.2.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>


</body>

</html>
-->